*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: #faf8ef;
  color: #776e65;
  overflow: hidden;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}